<input [formControl]='control' type="input">
    <ng-container *ngIf="control?.get('name').dirty && control?.get('name').touched && control?.get('name')?.errors">
        <div *ngIf="control?.get('name')?.errors?.['required']">
            Value is Required 
        </div>
        <div *ngIf="control?.get('name')?.errors?.['minlength']">
            The Value That You Have Entered is:
            {{ control.get('name').errors['minlength']?.actualLength}}
            The Minimum Length is:
            {{ control.get('name')?.errors['minlength']?.requiredLength}} 
            Characters
        </div>
    </ng-container>